@{
    ViewData["Title"] = "Digital Media and Information Technologies - Today technology is vital to the success of individuals and societies in general.";
    ViewData["Description"] = "Today technology is vital to the success of individuals and societies in general. Social media platforms have united our world like never before. Understanding this and utilizing technology is fundamental to ones success in business and in one’s career. This program prepares our students and gives them the necessary skills to be successful. We teach networking, information technology, programming, digital media, business analysis, and web technologies. We offer programs, workshops, and seminars which will give you a competitive advantage. In today’s business world.";
    ViewData["Canonical"] = Url.Action("DigitalMediaAndInformationTechnology", "Home");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MicroData{
<script type="application/ld+json">
    {
      "@Html.Raw("@context")": "https://schema.org",
      "@Html.Raw("@type")": "Course",
      "name": "Digital Media and Information Technologies",
      "description": "Today technology is vital to the success of individuals and societies in general. Social media platforms have united our world like never before. Understanding this and utilizing technology is fundamental to ones success in business and in one’s career. This program prepares our students and gives them the necessary skills to be successful. We teach networking, information technology, programming, digital media, business analysis, and web technologies. We offer programs, workshops, and seminars which will give you a competitive advantage. In today’s business world.",
      "provider": {
        "@Html.Raw("@type")": "Organization",
        "name": "Study Id",
        "sameAs": "@Url.Action("DigitalMediaAndInformationTechnology")"
      }
    }
</script>
}
<section class="course">
    <div class="course__container">
        <div class="course__breadcrumb breadcrumb">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a href="@Url.Action("Index")" class="breadcrumb__link">Home </a>
                </li>
                <li class="breadcrumb__item">
                    <a href="@Url.Action("Qualifications")" class="breadcrumb__link"> Оur Faculties </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__current">
                        Digital Media and Information Technologies
                    </span>
                </li>
            </ul>
        </div>
        <div class="course__top-head top-head">
            <a href="@Url.Action("Qualifications")" class="top-head__exit">
                <img src="@Url.Content("/img/elements/arrow-left.svg")" alt="Icon" class="top-head__icon">
            </a>
            <h1 class="title course__title">
                Digital Media and Information Technologies
            </h1>
        </div>
        <div class="course__top top-course">
            <div class="top-course__row">
                <div class="top-course__title" style="color:#34bd1d">
                    Digital Media and Information Technologies
                </div>
                <div class="top-course__image-ibg">
                    <picture><source srcset="@Url.Content("~/img/faculty/02.webp")" type="image/webp"><img src="@Url.Content("~/img/faculty/02.webp")" alt="Digital Media and Information Technologies"></picture>
                </div>
            </div>
            <div class="top-course__price price-course" style="background-color:#34bd1d">
                <a href="#contact-form" class="price-course__button button button_white" style="color: #34bd1d">
                    Аdmission process
                </a>
            </div>
        </div>
        <div class="course__text">
            <p>
                Those who operate the information operate the world. Today this statement is as topical as ever. Information developed through digital sources is the key to success and the main intention of that course is to share a priceless cocktail of theory, practices, and hands-on activities in the field of digital media and information technologies.
            </p>
            <p>
                As a cross-science discipline that course offers a student an overwhelming amount of knowledge in the following areas:
                <ul>
                    <li>Digital media essences, its impact on cultural heritage and today’s impact on society.</li>
                    <li>Publishing information in the web technologies.</li>
                    <li>Various types of digital media.</li>
                    <li>Principles of AI and machine learning for media.</li>
                    <li>Informational legislation and security background.</li>
                    <li>Data and business analyses.</li>
                    <li>Digital humanities.</li>
                    <li>Text, sound, visual arts analyses.</li>
                </ul>
                The scope of disciplines collected in our Digital Media and Information Technologies course will come in handy for both theorists and practitioners in the field of IT, Media Technologies, Marketing, and PR.
            </p>
            <p>
                You are welcome to start the course and get as many skills as needed for success in today’s business world.
            </p>
            <p>
                Please, apply for our services to get even more information about Digital Media and Information Technology opportunities in Australia.
            </p>
        </div>
        <div class="course__row">
            <form class="contact__form form" id="contact-form">
                <div class="alert alert-danger" v-if="error!=null && error!=''">{{error}}</div>
                <div class="form__title">
                    Request Your Free Online Assessment
                </div>
                <br />
                <div class="form__items">
                    <div class="form__item">
                        <input type="text" name="firstname" data-error="Error" placeholder="First name*" class="input form__input" v-bind:disabled="loader" v-model="$v.firstName.$model" v-bind:class="{'error':$v.firstName.$error }" v-bind:disabled="loader" />
                        <div class="error form__error" v-if="$v.firstName.$error && !$v.firstName.required">
                            This field is required
                        </div>
                    </div>
                    <div class="form__item">
                        <input type="text" name="lastname" data-error="Error" placeholder="Last name*" class="input form__input" v-bind:disabled="loader" v-model="$v.lastName.$model" v-bind:class="{'error':$v.lastName.$error }" v-bind:disabled="loader" />
                        <div class="error form__error" v-if="$v.lastName.$error && !$v.lastName.required">
                            This field is required
                        </div>
                    </div>
                    <div class="form__item">
                        <input type="text" name="Email" data-error="Error" placeholder="Email*" class="input form__input" v-bind:disabled="loader" v-model="$v.email.$model" v-bind:class="{'error':$v.email.$error }" v-bind:disabled="loader" />
                        <div class="error form__error" v-if="$v.email.$error && !$v.email.required">
                            This field is required
                        </div>
                        <div class="error form__error" v-if="$v.email.$error && !$v.email.email">
                            Wrong email format
                        </div>
                    </div>
                    <div class="form__item">
                        <v-select :options="courses" placeholder="Course of Interest" class="form__input" v-bind:disabled="loader" label="title" :reduce="item => item.id" v-model="course"></v-select>
                    </div>
                    <div class="form__item">
                        <div class="form__radiobuttons">
                            <div class="form__radiobuttons-title">
                                Are you currently in Australia?
                            </div>
                            <div class="form__radiobuttons-items">
                                <div class="checkbox form__chechbox">
                                    <input id="c_1" data-error="Error" checked class="checkbox__input" type="radio" v-bind:disabled="loader" v-bind:value="true" name="australianResident" v-model="australianResident">
                                    <label for="c_1" class="checkbox__label">
                                        <span class="checkbox__text">Yes</span>
                                    </label>
                                </div>
                                <div class="checkbox form__chechbox">
                                    <input id="c_12" data-error="Error" class="checkbox__input" type="radio" v-bind:disabled="loader" v-bind:value="false" name="australianResident" v-model="australianResident">
                                    <label for="c_12" class="checkbox__label">
                                        <span class="checkbox__text">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form__item">
                        <date-picker v-model="startDate" format="DD/MM/YYYY"
                                     :disabled-date="disableBeforeToday"
                                     type="date"
                                     v-bind:disabled="loader"
                                     placeholder="When would you like to start? *" input-class="input form__input"></date-picker>
                    </div>
                    <div class="alert alert-success" v-if="success">You Application has been submitted successfully. Our team will contact you soon. </div>
                    <a class="button form__button" style="cursor: pointer" v-bind:disabled="loader" v-on:click="submit();" v-if="id==null">
                        <div class="spinner-border spinner-border-sm text-white" role="status" v-if="loader">
                        </div>
                        <i class="fa-solid fa-floppy-disk" v-if="!loader"></i> Submit
                    </a>
                </div>
                <br />
                <div class="form__subtitle">
                    Our team is prepared to help you in your student journey. Have a chat with us! Fill
                    your
                    details below.
                </div>
            </form>
        </div>
    </div>
</section>
