@{
    ViewData["Title"] = "English - We are keenly aware that our students possess varying skills with respect to the English language.";
    ViewData["Description"] = "We are keenly aware that our students possess varying skills with respect to the English language. We therefore offer different modules that assist you in improving your understanding of the English language. Our courses prepare you for the requirements of studying in various institutions, as well as the IELTS proficiency test that are required by some educational institutions. These modules and courses, will also prepare you for everyday interactions while living in Australia.";
    ViewData["Canonical"] = Url.Action("English", "Home");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MicroData{
<script type="application/ld+json">
    {
      "@Html.Raw("@context")": "https://schema.org",
      "@Html.Raw("@type")": "Course",
      "name": "English",
      "description": "We are keenly aware that our students possess varying skills with respect to the English language. We therefore offer different modules that assist you in improving your understanding of the English language. Our courses prepare you for the requirements of studying in various institutions, as well as the IELTS proficiency test that are required by some educational institutions. These modules and courses, will also prepare you for everyday interactions while living in Australia.",
      "provider": {
        "@Html.Raw("@type")": "Organization",
        "name": "Study Id",
        "sameAs": "@Url.Action("English")"
      }
    }
</script>
}
<section class="course">
    <div class="course__container">
        <div class="course__breadcrumb breadcrumb">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a href="@Url.Action("Index")" class="breadcrumb__link">Home </a>
                </li>
                <li class="breadcrumb__item">
                    <a href="@Url.Action("Qualifications")" class="breadcrumb__link"> Оur Faculties </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__current">
                        English
                    </span>
                </li>
            </ul>
        </div>
        <div class="course__top-head top-head">
            <a href="@Url.Action("Qualifications")" class="top-head__exit">
                <img src="@Url.Content("/img/elements/arrow-left.svg")" alt="Icon" class="top-head__icon">
            </a>
            <h1 class="title course__title">
                English
            </h1>
        </div>
        <div class="course__top top-course">
            <div class="top-course__row">
                <div class="top-course__title">
                    English
                </div>
                <div class="top-course__image-ibg">
                    <picture><source srcset="@Url.Content("~/img/faculty/04.webp")" type="image/webp"><img src="@Url.Content("~/img/faculty/04.webp")" alt="English"></picture>
                </div>
            </div>
            <div class="top-course__price price-course">
                <a href="#contact-form" class="price-course__button button button_white">
                    Аdmission process
                </a>
            </div>
        </div>
        <div class="course__text">
            <p>
                Besides being one of the most widespread languages around the world, English is a must for overseas students who want to get an education in Australia. We offer our students various training programs intended to improve English language skills and get as high as possible in language studies.
            </p>
            <p>
                You can get access to various courses certified by authorities including IELTS and pass proficiency tests with A marks only. Our service offers training programs for everyday communication, profound language studies for getting a degree in English and literature. Offered business writing training pieces will allow you to get skills necessary for your routines in Australia and future career success worldwide.
            </p>
            <p>
                With us you can enter different studying modules to pass all the steps on your way to the brilliant language skills required in today’s business world. Specify your language level and improve it with the help of our English training courses and seminars.  
            </p>

        </div>
        <div class="course__row">
            <form class="contact__form form" id="contact-form">
                <div class="alert alert-danger" v-if="error!=null && error!=''">{{error}}</div>
                <div class="form__title">
                    Request Your Free Online Assessment
                </div>
                <br />
                <div class="form__items">
                    <div class="form__item">
                        <input type="text" name="firstname" data-error="Error" placeholder="First name*" class="input form__input" v-bind:disabled="loader" v-model="$v.firstName.$model" v-bind:class="{'error':$v.firstName.$error }" v-bind:disabled="loader" />
                        <div class="error form__error" v-if="$v.firstName.$error && !$v.firstName.required">
                            This field is required
                        </div>
                    </div>
                    <div class="form__item">
                        <input type="text" name="lastname" data-error="Error" placeholder="Last name*" class="input form__input" v-bind:disabled="loader" v-model="$v.lastName.$model" v-bind:class="{'error':$v.lastName.$error }" v-bind:disabled="loader" />
                        <div class="error form__error" v-if="$v.lastName.$error && !$v.lastName.required">
                            This field is required
                        </div>
                    </div>
                    <div class="form__item">
                        <input type="text" name="Email" data-error="Error" placeholder="Email*" class="input form__input" v-bind:disabled="loader" v-model="$v.email.$model" v-bind:class="{'error':$v.email.$error }" v-bind:disabled="loader" />
                        <div class="error form__error" v-if="$v.email.$error && !$v.email.required">
                            This field is required
                        </div>
                        <div class="error form__error" v-if="$v.email.$error && !$v.email.email">
                            Wrong email format
                        </div>
                    </div>
                    <div class="form__item">
                        <v-select :options="courses" placeholder="Course of Interest" class="form__input" v-bind:disabled="loader" label="title" :reduce="item => item.id" v-model="course"></v-select>
                    </div>
                    <div class="form__item">
                        <div class="form__radiobuttons">
                            <div class="form__radiobuttons-title">
                                Are you currently in Australia?
                            </div>
                            <div class="form__radiobuttons-items">
                                <div class="checkbox form__chechbox">
                                    <input id="c_1" data-error="Error" checked class="checkbox__input" type="radio" v-bind:disabled="loader" v-bind:value="true" name="australianResident" v-model="australianResident">
                                    <label for="c_1" class="checkbox__label">
                                        <span class="checkbox__text">Yes</span>
                                    </label>
                                </div>
                                <div class="checkbox form__chechbox">
                                    <input id="c_12" data-error="Error" class="checkbox__input" type="radio" v-bind:disabled="loader" v-bind:value="false" name="australianResident" v-model="australianResident">
                                    <label for="c_12" class="checkbox__label">
                                        <span class="checkbox__text">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form__item">
                        <date-picker v-model="startDate" format="DD/MM/YYYY"
                                     :disabled-date="disableBeforeToday"
                                     type="date"
                                     v-bind:disabled="loader"
                                     placeholder="When would you like to start? *" input-class="input form__input"></date-picker>
                    </div>
                    <div class="alert alert-success" v-if="success">You Application has been submitted successfully. Our team will contact you soon. </div>
                    <a class="button form__button" style="cursor: pointer" v-bind:disabled="loader" v-on:click="submit();" v-if="id==null">
                        <div class="spinner-border spinner-border-sm text-white" role="status" v-if="loader">
                        </div>
                        <i class="fa-solid fa-floppy-disk" v-if="!loader"></i> Submit
                    </a>
                </div>
                <br />
                <div class="form__subtitle">
                    Our team is prepared to help you in your student journey. Have a chat with us! Fill
                    your
                    details below.
                </div>
            </form>
        </div>
    </div>
</section>
