@{
    ViewData["Title"] = "Marine Habitat Conservation & Restoration -  This Marine course offers a comprehensive background and understanding, of these issues.";
    ViewData["Description"] = "It is because of the climate change and pollution that our ocean’s are undergoing significant changes. This Marine course offers a comprehensive background and understanding, of these issues. Upon graduating, our students are equipped with the most current conservations and restoration methods for marine life. Marine habitat conservation and restoration projects are increasing at a fast rate. Consequently, there is an increasing demand for people in this field. If you have an interest in this field we can offer the most up to date courses and technical knowledge, which will ensure your success in your chosen field.";
    ViewData["Canonical"] = Url.Action("MarineHabitatConservationRestoration", "Home");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MicroData{
<script type="application/ld+json">
    {
      "@Html.Raw("@context")": "https://schema.org",
      "@Html.Raw("@type")": "Course",
      "name": "Marine Habitat Conservation & Restoration",
      "description": "It is because of the climate change and pollution that our ocean’s are undergoing significant changes. This Marine course offers a comprehensive background and understanding, of these issues. Upon graduating, our students are equipped with the most current conservations and restoration methods for marine life. Marine habitat conservation and restoration projects are increasing at a fast rate. Consequently, there is an increasing demand for people in this field. If you have an interest in this field we can offer the most up to date courses and technical knowledge, which will ensure your success in your chosen field.",
      "provider": {
        "@Html.Raw("@type")": "Organization",
        "name": "Study Id",
        "sameAs": "@Url.Action("MarineHabitatConservationRestoration")"
      }
    }
</script>
}
<section class="course">
    <div class="course__container">
        <div class="course__breadcrumb breadcrumb">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a href="@Url.Action("Index")" class="breadcrumb__link">Home </a>
                </li>
                <li class="breadcrumb__item">
                    <a href="@Url.Action("Qualifications")" class="breadcrumb__link"> Оur Faculties </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__current">
                        Marine Habitat Conservation & Restoration
                    </span>
                </li>
            </ul>
        </div>
        <div class="course__top-head top-head">
            <a href="@Url.Action("Qualifications")" class="top-head__exit">
                <img src="@Url.Content("/img/elements/arrow-left.svg")" alt="Icon" class="top-head__icon">
            </a>
            <h1 class="title course__title">
                Marine Habitat Conservation & Restoration
            </h1>
        </div>
        <div class="course__top top-course">
            <div class="top-course__row">
                <div class="top-course__title" style="color: #34bd1d">
                    Marine Habitat Conservation & Restoration
                </div>
                <div class="top-course__image-ibg">
                    <picture><source srcset="@Url.Content("~/img/faculty/09.webp")" type="image/webp"><img src="@Url.Content("~/img/faculty/09.webp")" alt="Marine Habitat Conservation & Restoration"></picture>
                </div>
            </div>
            <div class="top-course__price price-course" style="background-color: #34bd1d">
                <a href="#contact-form" class="price-course__button button button_white" style="color: #34bd1d">
                    Аdmission process
                </a>
            </div>
        </div>
        <div class="course__text">
            <p>
                The state of the environment and the conservation of marine species today is a paramount task both for environmentalists and for businesses. Altogether marine habitat and restoration is becoming a popular specialization for young scientists, theorists, and practitioners. The objective of the marine habitat and restoration course is precisely to acquaint the young striving for the ecological balance hearts with the methods, principles, and knowledge of marine species and ecosystems conservation and restoration.
            </p>
            <p>
                Nowadays the Australian government pays special attention to the preservation of the region's ecosystem. Therefore, for more than a decade marine habitat and restoration courses have been opened to everyone who wants to change the situation in the world, develop respect for the environment, and change the planet for the better.
            </p>
            <p>
                If your career goals align with these principles, your best bet is to study marine habitat and restoration. In addition to the theoretical base the most challenging practice awaits you in the Australian educational organizations. Australia is a unique corner of the world where you can master unique hands-on skills in the field of marine habitat and restoration. StudyID will help you to gain a new specialization in one of the most sought-after areas of human activity.  
            </p>
        </div>
        <div class="course__row">
            <form class="contact__form form" id="contact-form">
                <div class="alert alert-danger" v-if="error!=null && error!=''">{{error}}</div>
                <div class="form__title">
                    Request Your Free Online Assessment
                </div>
                <br />
                <div class="form__items">
                    <div class="form__item">
                        <input type="text" name="firstname" data-error="Error" placeholder="First name*" class="input form__input" v-bind:disabled="loader" v-model="$v.firstName.$model" v-bind:class="{'error':$v.firstName.$error }" v-bind:disabled="loader" />
                        <div class="error form__error" v-if="$v.firstName.$error && !$v.firstName.required">
                            This field is required
                        </div>
                    </div>
                    <div class="form__item">
                        <input type="text" name="lastname" data-error="Error" placeholder="Last name*" class="input form__input" v-bind:disabled="loader" v-model="$v.lastName.$model" v-bind:class="{'error':$v.lastName.$error }" v-bind:disabled="loader" />
                        <div class="error form__error" v-if="$v.lastName.$error && !$v.lastName.required">
                            This field is required
                        </div>
                    </div>
                    <div class="form__item">
                        <input type="text" name="Email" data-error="Error" placeholder="Email*" class="input form__input" v-bind:disabled="loader" v-model="$v.email.$model" v-bind:class="{'error':$v.email.$error }" v-bind:disabled="loader" />
                        <div class="error form__error" v-if="$v.email.$error && !$v.email.required">
                            This field is required
                        </div>
                        <div class="error form__error" v-if="$v.email.$error && !$v.email.email">
                            Wrong email format
                        </div>
                    </div>
                    <div class="form__item">
                        <v-select :options="courses" placeholder="Course of Interest" class="form__input" v-bind:disabled="loader" label="title" :reduce="item => item.id" v-model="course"></v-select>
                    </div>
                    <div class="form__item">
                        <div class="form__radiobuttons">
                            <div class="form__radiobuttons-title">
                                Are you currently in Australia?
                            </div>
                            <div class="form__radiobuttons-items">
                                <div class="checkbox form__chechbox">
                                    <input id="c_1" data-error="Error" checked class="checkbox__input" type="radio" v-bind:disabled="loader" v-bind:value="true" name="australianResident" v-model="australianResident">
                                    <label for="c_1" class="checkbox__label">
                                        <span class="checkbox__text">Yes</span>
                                    </label>
                                </div>
                                <div class="checkbox form__chechbox">
                                    <input id="c_12" data-error="Error" class="checkbox__input" type="radio" v-bind:disabled="loader" v-bind:value="false" name="australianResident" v-model="australianResident">
                                    <label for="c_12" class="checkbox__label">
                                        <span class="checkbox__text">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form__item">
                        <date-picker v-model="startDate" format="DD/MM/YYYY"
                                     :disabled-date="disableBeforeToday"
                                     type="date"
                                     v-bind:disabled="loader"
                                     placeholder="When would you like to start? *" input-class="input form__input"></date-picker>
                    </div>
                    <div class="alert alert-success" v-if="success">You Application has been submitted successfully. Our team will contact you soon. </div>
                    <a class="button form__button" style="cursor: pointer" v-bind:disabled="loader" v-on:click="submit();" v-if="id==null">
                        <div class="spinner-border spinner-border-sm text-white" role="status" v-if="loader">
                        </div>
                        <i class="fa-solid fa-floppy-disk" v-if="!loader"></i> Submit
                    </a>
                </div>
                <br />
                <div class="form__subtitle">
                    Our team is prepared to help you in your student journey. Have a chat with us! Fill
                    your
                    details below.
                </div>
            </form>
        </div>
    </div>
</section>
