@{
    ViewData["Title"] = "StudyId - We will guide you to select the best courses which will compliment your interest and enhance your career";
    ViewData["Description"] = "We will guide you to select the best courses which will compliment your interest and enhance your career. We will assist you in selecting the best programs which will further your education and remain within your budget. We will maintain a relationship through out your journey as a student, assisting you with any visa applications and career objectives.";
    ViewData["Canonical"] = Url.Action("Qualifications", "Home");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="faculties">
    <div class="faculties__container">
        <div class="faculties__breadcrumb breadcrumb">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a href="@Url.Action("Index")" class="breadcrumb__link">Home </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__current">
                        Оur Qualifications
                    </span>
                </li>
            </ul>
        </div>
        <div class="faculties__top-head top-head">
            <a href="@Url.Action("Index")" class="top-head__exit">
                <img src="img/elements/arrow-left.svg" alt="Icon" class="top-head__icon">
            </a>
            <h1 class="title faculties__title">
                Our Qualifications
            </h1>
        </div>
        <div class="faculties__items">
            <div class="faculties__item card">
                <div class="card__row">
                    <div class="card__left card__left_blue">
                        <div class="card__block">
                            <div class="card__content">
                                <h2 class="card__title">
                                    <a href="@Url.Action("Business","Home")"> Business</a>
                                </h2>
                                <p class="card__list">
                                    These courses cater to business executives, program consultants, and program coordinators. Individuals who already have substantial experience in their respective fields, but wish to augment their knowledge. Students who do not have this extensive business background, are encouraged to participate in this program. They must have a solid theoretical background, and a desire to learn from these experienced students. The topics that will be covered in this faculty are business administration, human resources, and business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__image-ibg">
                            <picture><source srcset="img/faculty/01.webp" type="image/webp"><img src="img/faculty/01.jpg" alt="Image"></picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faculties__item card">
                <div class="card__row card__row_reverse">
                    <div class="card__left card__left_green">
                        <div class="card__block">
                            <div class="card__content">
                                <h2 class="card__title">
                                    <a href="@Url.Action("DigitalMediaAndInformationTechnology","Home")"> Digital Media & Information Technology</a>
                                </h2>
                                <p class="card__list">
                                    Today technology is vital to the success of individuals and societies in general. Social media platforms have united our world like never before. Understanding this and utilizing technology is fundamental to ones success in business and in one’s career. This program prepares our students and gives them the necessary skills to be successful. We teach networking, information technology, programming, digital media, business analysis, and web technologies. We offer programs, workshops, and seminars which will give you a competitive advantage. In today’s business world.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__image-ibg">
                            <picture><source srcset="img/faculty/02.webp" type="image/webp"><img src="img/faculty/02.jpg" alt="Image"></picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faculties__item card">
                <div class="card__row ">
                    <div class="card__left card__left_red">
                        <div class="card__block">
                            <div class="card__content">
                                <h2 class="card__title">
                                    <a href="@Url.Action("EarlyChildhoodEducationAndCare","Home")"> Early Childhood Education & Care</a>
                                </h2>
                                <p class="card__list">
                                    This program teaches our students how to become child care providers and educators. It prepares our students to enter this competitive field with the skills necessary to succeed. The focus is on the child’s wellbeing, learning, and development. The program facilitates the national quality standards, and prepares our students to work in various settings.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__image-ibg">
                            <picture><source srcset="img/faculty/03.webp" type="image/webp"><img src="img/faculty/03.jpg" alt="Image"></picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faculties__item card">
                <div class="card__row card__row_reverse ">
                    <div class="card__left card__left_blue">
                        <div class="card__block">
                            <div class="card__content">
                                <h2 class="card__title">
                                    <a href="@Url.Action("English","Home")"> English</a>
                                </h2>
                                <p class="card__list">
                                    We are keenly aware that our students possess varying skills with respect to the English language. We therefore offer different modules that assist you in improving your understanding of the English language. Our courses prepare you for the requirements of studying in various institutions, as well as the IELTS proficiency test that are required by some educational institutions. These modules and courses, will also prepare you for everyday interactions while living in Australia.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__image-ibg">
                            <picture><source srcset="img/faculty/04.webp" type="image/webp"><img src="img/faculty/04.jpg" alt="Image"></picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faculties__item card">
                <div class="card__row  ">
                    <div class="card__left card__left_green">
                        <div class="card__block">
                            <div class="card__content">
                                <h2 class="card__title">
                                    <a href="@Url.Action("EnvironmentManagementSustainability","Home")"> Environment Management & Sustainability</a>
                                </h2>
                                <p class="card__list">
                                    In studying the science of sustainability we typically focus on three areas (environmental, economic, and social). The courses in sustainable operations will deal with all three of these areas. It is by partnering with various organizations, that we will give you the necessary knowledge and skills to have a successful career in sustainable operations.
                                </p>
                                <br />
                                <p class="card__list">
                                    With the growing threats and challenges that are posed to our environment from climate change. Our graduates in sustainable operations are poised to have an immediate and positive impact in finding solutions to this crises.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__image-ibg">
                            <picture><source srcset="img/faculty/05.webp" type="image/webp"><img src="img/faculty/05.jpg" alt="Image"></picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faculties__item card">
                <div class="card__row card__row_reverse ">
                    <div class="card__left card__left_red">
                        <div class="card__block">
                            <div class="card__content">
                                <h2 class="card__title">
                                    <a href="@Url.Action("HospitalityCulinary","Home")"> Hospitality & Culinary</a>
                                </h2>
                                <p class="card__list">
                                    This program is for students who wish to pursue a management career in the Australian hospitality industry. It offers a comprehensive understanding of what goes into being a successful manager. Everything from understanding the operations of a kitchen to the financial aspect of this industry. All of these skills prepares our students to manage a successful team.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__image-ibg">
                            <picture><source srcset="img/faculty/06.webp" type="image/webp"><img src="img/faculty/06.jpg" alt="Image"></picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faculties__item card">
                <div class="card__row ">
                    <div class="card__left card__left_blue">
                        <div class="card__block">
                            <div class="card__content">
                                <h2 class="card__title">
                                    <a href="@Url.Action("LeadershipManagement","Home")"> Leadership & Management</a>
                                </h2>
                                <p class="card__list">
                                    Students enrolled in this course will learn about human resources, management , project management, business operations, finance, worker health and safety, and sustainability. This course provides students with the skills to plan and manage projects in the business world. The focus is on information technology and how it relates to various business projects.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__image-ibg">
                            <picture><source srcset="img/faculty/07.webp" type="image/webp"><img src="img/faculty/07.jpg" alt="Image"></picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faculties__item card">
                <div class="card__row card__row_reverse ">
                    <div class="card__left card__left_green">
                        <div class="card__block">
                            <div class="card__content">
                                <h2 class="card__title">
                                    <a href="@Url.Action("MarineHabitatConservationRestoration","Home")"> Marine Habitat Conservation & Restoration</a>
                                </h2>
                                <p class="card__list">
                                    It is because of the climate change and pollution that our ocean’s are undergoing significant changes. This Marine course offers a comprehensive background and understanding, of these issues. Upon graduating, our students are equipped with the most current conservations and restoration methods for marine life. Marine habitat conservation and restoration projects are increasing at a fast rate. Consequently, there is an increasing demand for people in this field. If you have an interest in this field we can offer the most up to date courses and technical knowledge, which will ensure your success in your chosen field.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__image-ibg">
                            <picture><source srcset="img/faculty/09.webp" type="image/webp"><img src="img/faculty/09.jpg" alt="Image"></picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faculties__item card">
                <div class="card__row">
                    <div class="card__left card__left_red">
                        <div class="card__block">
                            <div class="card__content">
                                <h2 class="card__title">
                                    <a href="@Url.Action("MarketingCommunications","Home")"> Marketing & Communications</a>
                                </h2>
                                <p class="card__list">
                                    These courses offer students the opportunity to learn about various marketing strategies. Students will participate in projects that teach various advertising, integrated marketing, and communications techniques. Once the students complete the prescribed curriculum, they will have a competitive advantage in today’s fast-paced world of business.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__image-ibg">
                            <picture><source srcset="img/faculty/10.webp" type="image/webp"><img src="img/faculty/10.jpg" alt="Image"></picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
